<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

    <%- include('../views/partials/head.ejs')%>
    </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
      <h1 class="mb-4">Blog Index Page</h1>
      <a href="/blogs/new" class="btn btn-success">New Blog</a>
      <div class="cards-container">

              <% for(let i = 0; i < blog.length; i++) { %>
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">
                        <a href="/blogs/<%=blog[i].id%>/">
                            <%=blog[i].title%>
                        </a>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%=blog[i].date%></h6>
                      <p class="card-text"><%=blog[i].entry.slice(0,50)%>...</p>
                    </div>
                  </div>

              <% } %>

      </div>
  </div>
  <div>
    <%- include('./partials/footer.ejs') %>
  </div>
  </body>
</html>
