<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <%- include('../views/partials/head.ejs')%>

  </head>
  <body>
    <h1>Blog Show</h1>
    <a href="/blogs" class="btn btn-success">Back</a>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">

                <%=blog.title%>

          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%=blog.date%></h6>
          <p class="card-text"><%=blog.entry.slice(0,50)%>...</p>
          <br>
          <br>
          <br>
          <a href="/blogs/<%=blog._id%>/edit">Edit</a><br>

          <br>
          <br>
          <br>
          <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
            <a href="/blogs" class="btn btn-success">Delete</a>
          </form>

  </body>

</html>
